body {
    background: linear-gradient(#FFF5EB, #DEEDF0, #F4C7AB, #B2B8A3);
    margin: 0;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 25%;
    border-color: linen;
    border-width: 10px;
}

.headertext {
    font-size: 7em;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: 'Montserrat', sans-serif;
    /*color: #B2B8A3; */
    color: white;
    text-shadow: 2px 2px 2px rgb(53, 52, 52);
    padding-top: 20px;
    padding-bottom: 0px;
}

.heading {
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.stub {
    font-family: 'The Nautigal', cursive;
    text-align: center;
    /*color: #B2B8A3; */
    color: white;
    font-size: 4em;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2,
h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 5px hsl(200 30% 30%);
}

.profilepic {
    border-radius: 20%;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.profile_container {
    text-align: center;
}

.logoContainer {
    text-align: center;
}

.logos {
    width: 50%;
    padding: 80px;
    background-color: white;
    border-radius: 20%;
}

.divmargin {
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}


.carouselContainer {
    text-align: center;
}

p {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}


.contact {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

label {
    margin: 20px;
}

.formcontainer{
    text-align: center;
}

.inputarea {
    margin: 20px;
    max-width: 80%;
    padding: 10px;
    border-style: none;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: left;
}

.email {
    text-align: center;
    width: 350px;
}

.submitButton {
    margin: 20px;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding: 15px;
    background-color: #DEEDF0;
    border-style: none;
}

.submitButton:hover {
    background-color: #F4C7AB;
}

.socialContainer {
    text-align: center;
}

.socialIcon {
    width: 5%;
    background-color: white;
    border-radius: 15%;
    margin: 20px;
}